<form action="/users" method="POST">
  <pre>
    <h4> Create User </h4>
    First Name: <input type='text' name='first_name'></input><br>
    Last Name : <input type='text' name='last_name'></input><br>
    Phone     : <input type='text' name='phone'></input><br>
    Details   : <input type='text' name='details'></input><br>

    <input type='submit' value='Create User'></input>
  </pre>
</form>